.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-icon-width {
  height: 46px; /* Adjust the width as needed */
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box div {
  margin-bottom: 10px;
}

.login-box label {
  display: block;
  font-weight: bold;
}

.login-box input {
  width: 100%;
  padding: 10px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #2980b9;
}
