<div class="login-container">
  <div class="login-box">
    <h2>Iniaciar sesion:</h2>
    <div>
      <label for="username">Nombre de usuario:</label>
      <input type="text" id="username" [(ngModel)]="username" placeholder="Introduce tu nombre de usuario">
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="password" placeholder="Introduce tu contraseña">
    </div>
    <div class="signin-text">Todavía no tienes una? <a routerLink="/authenticateRegister">Regístrese</a></div>
    <button (click)="onSubmit()">Login</button>
  </div>
</div>
