<div class="modal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cambiar Contraseña</h5>
        <button type="button" class="close" (click)="modalClosed.emit()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="currentPassword">Contraseña Actual:</label>
            <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" class="form-control" />
          </div>
          <div class="form-group">
            <label for="newPassword">Nueva Contraseña:</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" class="form-control" />
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalClosed.emit()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="changePassword()">Cambiar Contraseña</button>
      </div>
    </div>
  </div>
</div>
