<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="modal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cambiar Contraseña</h5>
        <button type="button" class="close" (click)="modalClosed.emit()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" style="padding-top: 5px">
            <label for="currentPassword">Contraseña actual</label>
            <div class="d-flex align-items-baseline">
              <input [type]="showOldPassword ? 'text' : 'password'" id="currentPassword" name="currentPassword"
                     [(ngModel)]="currentPassword" class="form-control" placeholder="Introduce tu contraseña actual"/>
              <div class="justify-content-center" (click)="toggleOldPasswordVisibility()">
                 <span class="input-group-text custom-icon-width">
                   <i class="bi justify-content-center" [class]="showOldPassword ? 'bi-eye' : 'bi-eye-slash'"></i>
                 </span>
              </div>
            </div>
          </div>

          <div class="form-group" style="padding-top: 20px">
            <label for="newPassword">Nueva contraseña</label>
            <div class="d-flex align-items-baseline">
              <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" name="newPassword"
                     [(ngModel)]="newPassword" class="form-control" placeholder="Introduce tu nueva contraseña"
                     (ngModelChange)="onNewPasswordChange()" (blur)="onNewPasswordBlur()"/>
              <div class="justify-content-center" (click)="toggleNewPasswordVisibility()">
                 <span class="input-group-text custom-icon-width">
                   <i class="bi justify-content-center" [class]="showNewPassword ? 'bi-eye' : 'bi-eye-slash'"></i>
                 </span>
              </div>
            </div>
            <div *ngIf="showNewPasswordError" class="text-danger">
              La contraseña debe tener al menos 6 caracteres, una letra minúscula,
              una letra mayúscula, un número y un signo de puntuación.
            </div>
          </div>

          <div class="form-group" style="padding-top: 20px">
            <label for="confirmPassword">Confirmar nueva contraseña</label>
            <div class="d-flex align-items-baseline">
              <input [type]="showConPassword ? 'text' : 'password'" id="confirmPassword" name="confirmPassword"
                     [(ngModel)]="confirmPassword" class="form-control" placeholder="Repite tu nueva contraseña"
                     (ngModelChange)="onConPasswordChange()" (blur)="onConPasswordBlur()"/>
              <div class="justify-content-center" (click)="toggleConPasswordVisibility()">
                 <span class="input-group-text custom-icon-width">
                   <i class="bi justify-content-center" [class]="showConPassword ? 'bi-eye' : 'bi-eye-slash'"></i>
                 </span>
              </div>
            </div>
            <div *ngIf="showConPasswordError" class="text-danger">Las contraseñas no coinciden.</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalClosed.emit()">Volver</button>
        <button type="button" class="btn btn-primary" (click)="changePassword()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="!loading">Cambiar Contraseña</span>
        </button>
      </div>
    </div>
  </div>
</div>
