.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5); /* 0.5 indica el nivel de opacidad */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.modal-body {
  text-align: left;
}

/* Personaliza el botón de cerrar */
.close {
  color: grey; /* Color del texto */
  opacity: 0.8; /* Opacidad del botón (ajusta según tus preferencias) */
  font-size: 2rem; /* Tamaño del texto */
  margin-right: 15px; /* Espaciado del margen derecho */
  background: transparent;
  border: none;
}

/* Cambia el color de fondo del botón de cerrar al pasar el ratón por encima */
.close:hover {
  color: dimgrey;
  opacity: 1; /* Aumenta la opacidad al pasar el ratón por encima */
}
