<div class="modal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cambiar Contraseña</h5>
        <button type="button" class="close" (click)="modalClosed.emit()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" style="padding-top: 5px">
            <label for="currentPassword">Contraseña Actual:</label>
            <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" class="form-control"
                   placeholder="Introduce tu contraseña actual"/>
          </div>
          <div class="form-group" style="padding-top: 20px">
            <label for="newPassword">Nueva Contraseña:</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" class="form-control"
                   placeholder="Introduce tu nueva contraseña" (ngModelChange)="onPasswordChange()" (blur)="onPasswordBlur()"/>
          </div>
          <div *ngIf="showPasswordError" class="text-danger">
            La contraseña debe tener al menos 6 caracteres, una letra minúscula,
            una letra mayúscula, un número y un signo de puntuación.
          </div>
          <div class="form-group" style="padding-top: 20px">
            <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control"
                   placeholder="Repite tu nueva contraseña" (ngModelChange)="onConPasswordChange()" (blur)="onConPasswordBlur()"/>
          </div>
          <div *ngIf="showConPasswordError" class="text-danger">Las contraseñas no coinciden.</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalClosed.emit()">Volver</button>
        <button type="button" class="btn btn-primary" (click)="changePassword()">Cambiar Contraseña</button>
      </div>
    </div>
  </div>
</div>
