
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;

}


.dropdown-item {
  color: #000000;
  transition: background-color 0.3s;

}

.dropdown-item:hover {
  background-color: rgba(22, 39, 60, 0.3);
  color: #000000;

}
