
<div class="header-wrapper" [style.background-image]="'url(' + user.coverPhoto + ')'">
  <header></header>
  <div class="column">
    <div class="profile-picture" (mouseover)="mostrarEditarIcono()" (mouseout)="ocultarEditarIcono()">
      <ng-container *ngIf="user.profilePicture">
        <img [src]="user.profilePictureUrl" alt="Profile Picture">
      </ng-container>
      <ng-container *ngIf="!user.profilePicture">
        <img src="../assets/images/perfil.jpg" alt="Imagen Predeterminada">
      </ng-container>
      <i class="fas fa-pencil-alt editar-icono" (click)="abrirInputFile()"></i>
      <input type="file" id="fileInput" (change)="cambiarFotoPerfil($event)">
    </div>

    <div class="user-titles">
      <h1>{{ user.name }}</h1>
      <h5 style="padding-bottom: 5px">{{ user.email }}</h5>
      <h6>{{ user.followers.length }} seguidores · {{ user.following.length }} siguiendo</h6>
    </div>
    <div class="dropdown">
      <button class="btn btn btn-outline-light" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-h"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="editProfile()" style="cursor: pointer">Editar perfil</a>
        <a class="dropdown-item" (click)="changePwd()" style="cursor: pointer">Cambiar contraseña</a>
      </div>
    </div>

    <app-change-password
      *ngIf="changePwdModal"
      (modalClosed)="changePwdModal = false"
    ></app-change-password>

  </div>
</div>

<app-secondary-navbar [activeItem]="activeItem" (itemClicked)="handleItemClicked($event)"></app-secondary-navbar>

<div *ngIf="activeItem=='info'" class="bg-light" style="margin-bottom: 50px">
  <div class="container py-3" style="margin-bottom: 4%">
    <h4>Descripción</h4>

    <p *ngIf="user.description" style="white-space: pre-wrap; overflow-wrap: break-word;" >{{ user.description }}</p>
    <p *ngIf="!user.description">Dirígete al apartado "Editar Perfil" para editar tu descripción.</p>
    <div class="separator-line"></div>
  </div>
</div>

<div *ngIf="activeItem=='gallery'" class="bg-light">
  <app-gallery [username]="user.name"></app-gallery>
</div>

<div *ngIf="activeItem=='albumes'" class="bg-light">
  <app-albums [username]="user.name"></app-albums>
</div>
