<div class="container margin justify-content-center">
    <p>aca van las fotos de los seguidores mios pero ni el mismisimo diablo sabe como e que funciona esta vaina loco</p>
    <hr>
    <!-- Mostrar tarjetas de resultados cuando hay resultados -->

    <div *ngIf="followingUsers.length > 0" class="slider-container">
        <div *ngIf="loading" class="d-flex justify-content-center align-items-center flex-column">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem; animation-duration: 2s" role="status"></div>
            <h4 style="margin-top: 10px;">Cargando contenido...</h4>
        </div>
        <div *ngFor="let followed_user of followingUsers; let idx = index">
            <div *ngIf="followed_user.photos.length > 0" class="user-column">
                <div class="user-info" style="cursor: pointer" (click)="goToUserProfile(followed_user.ID)">
                    <img [src]="followed_user.avatar" alt="Foto del usuario" class="resize-imagen">
                    <span>{{ followed_user.username }}</span>
                </div>
                <div class="photo-slider">
                    <div *ngFor="let photo of followed_user.photos; let i = index" class="photo-item">
                        <div class="image-button" style="cursor:pointer">
                            <div class="card shadow-sm photo">
                                <img class="bd-placeholder-img card-img-top slider-photo" [src]="photo.src" alt="Image" (click)="openPic(followed_user, photo.id)">
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 3px dotted #bbb;">
            </div>
        </div>
    </div>

    <hr>
</div>

