<div class="container margin justify-content-center" >
  <p class="fs-1 custom-style" >👋Hola {{username}}...</p>
  <div class="row ">
    <div class="col-md-4 gallery-card" (click)="goToProfile('gallery')">
      <div class="card "  >
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="../../../assets/images/galeria.jpg" class="card-img-top resize-imagen" alt="subir foto">
        </div>
        <div class="card-body">

          <p class="card-text text-center"> <br> Visita tú galería</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" >
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="../../../assets/images/downloadFoto.png" class="card-img-top resize-imagen" alt="Descargar Foto">
        </div>
        <div class="card-body">
          <p class="card-text text-center">Próximamente, podrás descargar las fotos que más te gusten. </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" >
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="../../../assets/images/followerFoto.jpg" class="card-img-top resize-imagen" alt="Seguidores">
        </div>
        <div class="card-body">
          <p class="card-text text-center">Próximamente, podrás seguir a tus amigos y mucho más.</p>
        </div>
      </div>
    </div>
  </div>
</div>
