.custom-image {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    /*max-width: 100%;
    max-height: 250px; */
    margin-top: 5%;
}

.button-color {
    background-color: #16273c;
    color: white;
}

.button-color:hover {
    background-color: #0d6efd;
    color: black;
}

.icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(216 234 232 / 38%);
    border-radius: 14%;
    padding: 5px;
    cursor: pointer;
}

.hideText {
    visibility: hidden
}

.select-checkbox {
    transform: scale(1.5); /* Ajusta este valor según tu preferencia */
    margin-right: 5px; /* Espaciado opcional entre el checkbox y otros elementos */
}

.trash-icon {
    color: #090909; /* Puedes cambiar el color según tus preferencias */
}

.photo.hovered {
    outline: 3px solid #16273c4d;
}


p {
    margin: 0px
}

.photo:hover {
    outline: 3px solid #16273c4d;
}

.texto {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: font-size 0.2s;

    /* Tamaño de fuente responsive */
    @media (max-width: 768px) {
        font-size: 16px;
    }
}

/* Tooltip text */
.upload-hint .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    transform: translateX(-27px);
    opacity: 0;
    transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.upload-hint:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.upload-hint .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

@media (max-width: 867px) {
    .upload-hint {
        margin-bottom: 50px;
    }
    .d-flex h4 {
        padding: 0 5%;
        text-align: center;
    }
}
