


<div *ngIf="loading" class="d-flex justify-content-center align-items-center flex-column mt-5">
  <div class="spinner-border text-primary" style="width: 6rem; height: 6rem;animation-duration: 3s" role="status"></div>
  <h1 style="margin-top: 20px;">Cargando...</h1>
</div>


<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let image of images">
        <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top custom-image"  [src]="image.imageSrc" alt="Image">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

