.button-color{
  background-color: #16273c;
  color:white;
}
.button-color:hover{
  background-color: #0d6efd;
  color:black;
}
.remaining-words {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #666;
  margin-top: 0.5rem;
}

.modal-header, .modal-body, .modal-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

}
