<div class="container py-2 d-md-flex justify-content-md-end">
  <button type="button" class="btn button-color" (click)="openModal(modalContent)">
    <i class="fas fa-plus-circle"></i>&nbsp; Crear álbum
  </button>
  <!--MODAL-->
  <ng-template #modalContent let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{modalTitle}}</h5>
      <button type="button" class="btn-close" (click)="modal.dismiss('close')">
      </button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="name" placeholder="Escribe el nombre" required [ngClass]="{'is-invalid': name && name.length > 50}">
        <div class="invalid-feedback" *ngIf="name && name.length > 50">
          El nombre no puede tener más de 50 caracteres.
        </div>
      </div>
      <div class="mb-3">
        <div class="form-floating">
          <textarea class="form-control" [(ngModel)]="description" (input)="countWords()" placeholder="Leave a comment here" id="floatingTextarea" [readonly]="remainingWords === 0"></textarea>
          <label for="floatingTextarea">Descripción:</label>
        </div>
        <p class="remaining-words">Palabras restantes: {{ remainingWords }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('close')">Cancelar</button>
      <button type="button" class="btn btn-primary" [disabled]="!name || name.length > 5" (click)="modal.close('save')">Crear</button>
    </div>
  </ng-template>
</div>

<div class="container">
  <!-- <app-upload-photos></app-upload-photos> -->
</div>
